{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% if product %}
        <div class='row text-center' style='display:flex; flex-wrap:wrap'>
            {% for x in product %}

                <div class="col-md-4 col-sm-4">

                    <div class='thumbnail'>
                        <img src="media/{{ x.image }}" />
                        <div class='caption'>
                            <h4>{{ x.name }}</h4>
                        </div>
                        <p><a class='btn btn-primary' href='{% url "detail" x.id %}'>More Info</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}


{% endblock %}
