{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <img class='image-responsive detail-image' src='/media/{{ product.image }}' />
            </div>

        </div>
        <div class="col-md-6">
            <h1>{{ product.name }} <a href="{% url 'like' product.id %}" class="glyphicon glyphicon-thumbs-up"></a></h1>
            <div class="caption-full">
                <h2 class=''>$ {{ product.price }}</h2>
                <p>{{ product.views }} clicks</p>
                <p>{{ product.likes }} likes</p>
            </div>


            <form action="{% url 'cartadd' product.id %}" method="post">
                {% csrf_token %}
                <label for="quantity">Quantity</label>
                <input type="number" name="quantity" value=1 min=1 max=20>
                <button type="submit" class="btn btn-block btn-default">Cart</button>
{#                <button type="submit" class="btn btn-block btn-primary">Buy Now</button>#}
            </form>

        </div>


    </div>

    <div class="row">

        <div class="col-md-12">
            <h3>Product Description</h3>
            <div class="well">

                {{ product.description }}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h3>Product Reviews</h3>
            <div class="well">
                <div class="row">
                    <div class="col-md-12">
                        {% if comment %}
                            {% for x in comment %}
                                <strong>{{ x.author }}</strong>
                                {% if x.author_id == user.id %}
                                    <a href="" class="btn btn-default btn-xs">edit</a>
                                 {% endif %}
                                <span class="pull-right">{{ x.created }}</span>
                                <p>{{ x.content }}</p>
                                <hr/>
                            {% endfor %}
                        {% else %}
                            <p></p>
                            <strong>There are no reviews yet</strong>
                            <p></p>
                        {% endif %}

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">

                        <form method="post" action="{% url 'comment' product.id %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Comment</button>
                        </form>

                    </div>

                </div>


            </div>
        </div>
    </div>
{% endblock %}
